<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styleglos.css')}}">
    <title>Уязвимости</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="burger-menu">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="nav-links">
                <a href="/">Главная</a>
                <a href="https://t.me/vkrbdu_bot">Telegram-bot</a>
                <a href="{{ url_for('ubi_list')}}">УБИ</a>
                <a href="{{ url_for('statistics')}}">Статистика</a>
                <a href="{{ url_for('glossary')}}">Глоссарий</a>
            </div>
        </div>
        <div class="resources">
            <h1>Ресурсы</h1>

            <h2>ФСТЭК</h2>
            <p>
                Федеральная служба по техническому и экспортному контролю — федеральный орган исполнительной власти России, осуществляющий реализацию государственной политики, организацию межведомственной координации и взаимодействия, специальные и контрольные функции в области государственной безопасности.
            </p>
            <p>Ссылка: <a href="https://fstec.ru/">https://fstec.ru/</a></p>

            <h2>БДУ ФСТЭК</h2>
            <p>
                БДУ ФСТЭК - Банк данных угроз безопасности информации ФСТЭК России является единым отечественным ресурсом, содержащим сведения об уязвимостях программного и программно-аппаратного обеспечения, а также перечень и описание угроз безопасности информации для информационных систем различного назначения.
            </p>
            <p>Ссылка: <a href="https://bdu.fstec.ru/vul">https://bdu.fstec.ru/vul</a></p>

            <h2>УБИ ФСТЭК</h2>
            <p>
                УБИ ФСТЭК - это различные виды угроз, которые могут повлиять на конфиденциальность, целостность и доступность информации. 
            </p>
            <p>Ссылка: <a href="https://bdu.fstec.ru/threat">https://bdu.fstec.ru/threat</a></p>

            <h2>NVD</h2>
            <p>
                Национальная база данных уязвимостей — это правительственное хранилище данных управления уязвимостями на основе стандартов, представленных с использованием протокола автоматизации контента безопасности. Эти данные позволяют автоматизировать управление уязвимостями, измерение безопасности и соблюдение требований.
            </p>
            <p>Ссылка: <a href="https://nvd.nist.gov/">https://nvd.nist.gov/</a></p>

            <h2>OpenCVE</h2>
            <p>
                OpenCVE (Open Common Vulnerabilities and Exposures) — это платформа с открытым исходным кодом, предназначенная для управления уязвимостями и обеспечения безопасности информационных систем.
            </p>
            <p>Ссылка: <a href="https://www.opencve.io/welcome">https://www.opencve.io/welcome</a></p>

            <h2>ExploitDB</h2>
            <p>
                Exploit Database (ExploitDB) — это архив информации об известных уязвимостях и эксплойтах, используемых для их эксплуатации. ExploitDB управляется компанией Offensive Security.
            </p>
            <p>Ссылка: <a href="https://www.exploit-db.com/">https://www.exploit-db.com/</a></p>
        </div>

        <div class="terms">
            <h1>Термины</h1>
            
            <h2>CVE</h2>
            <p>
                CVE - база данных общеизвестных уязвимостей информационной безопасности. Каждой уязвимости присваивается идентификационный номер вида CVE-год-номер, описание и ряд общедоступных ссылок с описанием.
            </p>

            <h2>CVSS 2.0</h2>
            <p>
                CVSS 2.0 (Common Vulnerability Scoring System) — это система оценки уязвимостей, представленная в 2007 году. Она включает три группы метрик: базовые, временные и контекстные. Базовые метрики оценивают фундаментальные свойства уязвимости, такие как вектор доступа, сложность атаки, уровень аутентификации, а также влияние на конфиденциальность, целостность и доступность. Временные метрики учитывают изменения со временем, такие как наличие исправлений и методики эксплуатации. Контекстные метрики оценивают влияние уязвимости в конкретном окружении.
            </p>

            <h2>CVSS 3.0</h2>
            <p>
                CVSS 3.0, представленная в 2015 году, улучшает точность и гибкость оценки уязвимостей. В этой версии введены более детализированные базовые метрики, такие как уровень привилегий и пользовательское взаимодействие. Уточнены временные и контекстные метрики, которые учитывают изменение серьезности уязвимости в различных условиях. Также были добавлены новые метрики, оценивающие степень воздействия на доступность, целостность и конфиденциальность.
            </p>
            <p>
                CVSS 3.0 включает более детализированные и точные метрики по сравнению с CVSS 2.0, что позволяет лучше учитывать различные аспекты уязвимости и их воздействие в разных контекстах. В новой версии улучшена гибкость оценки и упрощена интерпретация результатов, предоставляя более ясные и точные оценки для различных сценариев эксплуатации уязвимостей.
            </p>

            <h2>Вектор атаки</h2>
            <p>
                Вектор атаки - это показатель уровня доступа, необходимого злоумышленнику для использования уязвимости. Уязвимость, требующую физического доступа к целевой системе, гораздо сложнее эксплуатировать, чем уязвимость, которую можно использовать удаленно через Интернет.
            </p>
            <p>Метрика включает в себя:</p>
            <ul>
                <li>
                    Cеть - можно использовать уязвимость удаленно.
                </li>
                <li>
                    Cмежный - для использования уязивмости требуется смежное сетевое соединение.
                </li>
                <li>
                    Локальный - уязвимость с этим рейтингом невозможно использовать по сети.
                </li>
                <li>
                    Физический - злоумышленник должен физически взаимодействовать с целевой системой.
                </li>
            </ul>
            <p>Источники: <a href="https://www.balbix.com/insights/base-cvss-scores/">https://www.balbix.com/insights/base-cvss-scores/</a></p>
            
            
            <h2>Сложность атаки</h2>
            <p>
                Сложность атаки - указывает, на условие находящиеся вне контроля злоумышленника, которые должны существовать для использования уязвимости. Чаще всего это относится либо к необходимому взаимодействию с пользователем, либо к конкретным конфигурациям целевой системы.
            </p>
            <p>Показатель сложности атаки оценивается как низкий или высокий:</p>
            <ul>
                <li>
                    Низкий - для эксплуатации не требуется каких-либо особых предварительных условий.
                </li>
                <li>
                    Высокий - существуют условия, неподвластные злоумышленнику, необходимые для успешной атаки.
                </li>
            </ul>
            <p>Источники: <a href="https://www.balbix.com/insights/base-cvss-scores/">https://www.balbix.com/insights/base-cvss-scores/</a></p>

            <h2>Требуемые привилегии</h2>
            <p>
                Требуемые привилегии - описывает уровень привилегий или доступа, который должен иметь злоумышленник перед успешным использованием эксплойта.
            </p>
            <p>Требуемые привилегии подпадают под три рейтинга:</p>
            <ul>
                <li>
                    Нет - для проведения атаки не требуется никаких привилегий или специального доступа.
                </li>
                <li>
                    Низкий - для использования эксплойта злоумышленнику требуются базовые привилегии «пользовательского» уровня.
                </li>
                <li>
                    Высокий - для успешной атаки необходимы административные или аналогичные права доступа.
                </li>
            </ul>
            <p>Источники: <a href="https://www.balbix.com/insights/base-cvss-scores/">https://www.balbix.com/insights/base-cvss-scores/</a></p>


            <h2>Взаимодействие с пользователем</h2>
            <p>
                Взаимодействие с пользователем - должен ли пользователь, кроме злоумышленника, что-либо делать или участвовать в эксплуатации уязвимости.
            </p>
            <p>Взаимодействие с пользователем – это метрика типа "да/нет":</p>
            <ul>
                <li>
                    Нет -  взаимодействие с пользователем не требуется.
                </li>
                <li>
                    Да - пользователь должен выполнить несколько шагов, чтобы эксплойт увенчался успехом. Например, пользователю может потребоваться установить какое-то программное обеспечение.
                </li>
            </ul>
            <p>Источники: <a href="https://www.balbix.com/insights/base-cvss-scores/">https://www.balbix.com/insights/base-cvss-scores/</a></p>


            <h2>Влияние на конфиденциальность</h2>
            <p>
                Влияние на конфиденциальность - Измеряет потенциальное влияние на конфиденциальность успешно использованной уязвимости.
            </p>
            <p>Конфиденциальность имеет три значения показателя:</p>
            <ul>
                <li>
                    Высокий -  злоумышленник имеет полный доступ ко всем ресурсам пострадавшей системы, включая высококонфиденциальную информацию, такую как ключи шифрования.
                </li>
                <li>
                    Низкий - злоумышленник имеет частичный доступ к информации, без контроля над тем, к чему конкретно он может получить доступ.
                </li>
                <li>
                    Нет - в результате эксплойта данные не доступны неавторизованным пользователям.
                </li>
            </ul>
            <p>Источники: <a href="https://www.balbix.com/insights/base-cvss-scores/">https://www.balbix.com/insights/base-cvss-scores/</a> <a href="https://csrc.nist.gov/glossary/term/confidentiality_impact">https://csrc.nist.gov/glossary/term/confidentiality_impact</a></p>


            <h2>Воздействие на целостность</h2>
            <p>
                Воздействие на целостность - означает, была ли защищенная информация подделана или изменена каким-либо образом. Если у злоумышленника нет возможности изменить точность или полноту информации, целостность сохраняется.
            </p>
            <p>Целостность имеет три значения показателя:</p>
            <ul>
                <li>
                    Нет - целостность какой-либо информации не нарушена.
                </li>
                <li>
                    Низкий - ограниченный объем информации может быть подделан или изменен, но серьезного воздействия на защищаемую систему не будет.
                </li>
                <li>
                    Высокий - злоумышленник может изменить любую/всю информацию в целевой системе, что приведет к полной потере целостности.
                </li>
            </ul>
            <p>Источники: <a href="https://www.balbix.com/insights/base-cvss-scores/">https://www.balbix.com/insights/base-cvss-scores/</a> <a href="https://csrc.nist.gov/glossary/term/integrity_impact">https://csrc.nist.gov/glossary/term/integrity_impact</a></p>


            <h2>Влияние на доступность</h2>
            <p>
                Влияние на доступность - информация должна быть доступна по мере необходимости. Если в результате атаки информация становится недоступной, например, при сбое системы или в результате DDOS-атаки, это отрицательно влияет на доступность.
            </p>
            <p>Доступность имеет одно из трех значений метрики:</p>
            <ul>
                <li>
                    Нет - нет потери доступности.
                </li>
                <li>
                    Низкий - доступность может периодически ограничиваться или производительность может отрицательно влиять на результат успешной атаки.
                </li>
                <li>
                    Высокий - происходит полная потеря доступности затронутой системы или информации.
                </li>
            </ul>
            <p>Источники: <a href="https://www.balbix.com/insights/base-cvss-scores/">https://www.balbix.com/insights/base-cvss-scores/</a></p>


            <h2>Область применения</h2>
            <p>
                Область применения - это определение того, может ли уязвимость в одной системе или компоненте оказать влияние на другую систему или компонент. 
            </p>
            <p>Область применения имеет два возможных рейтинга – измененный или неизмененный:</p>
            <ul>
                <li>
                    Изменено - эксплуатируемая уязвимость может оказать влияние на другую систему.
                </li>
                <li>
                    Без изменений - эксплуатируемая уязвимость наносит ущерб только местному органу безопасности.
                </li>
            </ul>
            <p>Источники: <a href="https://www.balbix.com/insights/base-cvss-scores/">https://www.balbix.com/insights/base-cvss-scores/</a></p>


        </div>
    </div>
    <script src="{{url_for('static', filename='forburger.js')}}"></script>
</body>
</html>
