<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div id="login-container">
        <h1>Авторизация</h1>
        <form id="login-form" method="POST" action="{{ url_for('login') }}">
            <label for="username">Логин</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Войти</button>
            <p>Нужен аккаунт? Нажмите <a href="registration">здесь</a>.</p>
        </form>
    </div>
    <canvas id="background-canvas"></canvas>
    <script src="static/script.js"></script>
</body>
</html>
